body {
	margin: 0;
}

.app-header {
	color: #fff;
	height: 60px;
	background-color: #e2e2e2;
	padding: 0 10px;
}

.app-content {
	color: #000;
	height: calc(100vh - 60px);
	background-color: #fff;
	text-align: center;
	overflow: scroll;
}

.todo-card {
	text-align: left;
	margin: 10px;
}

.task-list {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	background: #f3f3f3;
	min-width: 341px;
	border-radius: 5px;
	padding: 15px 15px;
	margin-right: 45px;
}

.task-container {
	display: flex;
	justify-content: center;
}

.task-columns {
	margin: 8px;
	display: flex;
	width: 100%;
	min-height: 80vh;
	display: flex;
	justify-content: center;
}
